.footer {
    padding: 20px 0;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    background-color: black;
}

.footer-links,
.footer-sitemap {
    color: #ffffff;
    flex: 1;
}

.footer-links ul,
.footer-sitemap ul {
    color: #ffffff;
    list-style: none;
    padding: 0;
}

.footer-links h3,
.footer-sitemap h3 {
    color: #ffffff;
    margin-bottom: 10px;
}

.footer-links a,
.footer-sitemap a {color: #ffffff;
    text-decoration: none;}

li:hover{text-decoration: underline;}

.footer-copyright {
    text-align: center;
    flex-basis: 100%;
    margin-top: 20px;
    color: #ffffff;
}
